# **Text** **Data** **Vectorization**

In [ ]:
# import

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [ ]:
text = ["Paul likes to watch movies. Mary likes movies too.",
        "Paul also likes to watch football games",
        "Paul likes to watch movies. Mary likes movies too. Mary also likes to watch football games." 
        ]

**CountVectorizer Unigrams**

In [ ]:
vectorizer = CountVectorizer()

In [ ]:
X = vectorizer.fit_transform(text)

In [ ]:
#X.toarray()

array([[0, 0, 0, 2, 1, 2, 1, 1, 1, 1],
       [1, 1, 1, 1, 0, 0, 1, 1, 0, 1],
       [1, 1, 1, 3, 2, 2, 1, 2, 1, 2]])

In [ ]:
vectorizer.get_feature_names()

['also',
 'football',
 'games',
 'likes',
 'mary',
 'movies',
 'paul',
 'to',
 'too',
 'watch']

In [ ]:
vectorizer.vocabulary_

{'also': 0,
 'football': 1,
 'games': 2,
 'likes': 3,
 'mary': 4,
 'movies': 5,
 'paul': 6,
 'to': 7,
 'too': 8,
 'watch': 9}

In [ ]:
pd.DataFrame(X.toarray(),index=text,columns=vectorizer.get_feature_names())

                                                    also  football  ...  too  watch
Paul likes to watch movies. Mary likes movies too.     0         0  ...    1      1
Paul also likes to watch football games                1         1  ...    0      1
Paul likes to watch movies. Mary likes movies t...     1         1  ...    1      2

[3 rows x 10 columns]

**CountVectorizer Bi-grams**

In [ ]:
vectorizer = CountVectorizer(ngram_range=(2,2))
X = vectorizer.fit_transform(text)
pd.DataFrame(X.toarray(),index=text,columns=vectorizer.get_feature_names())

                                                    also likes  ...  watch movies
Paul likes to watch movies. Mary likes movies too.           0  ...             1
Paul also likes to watch football games                      1  ...             0
Paul likes to watch movies. Mary likes movies t...           1  ...             1

[3 rows x 14 columns]

In [ ]:
vectorizer.vocabulary_

{'also likes': 0,
 'football games': 1,
 'likes movies': 2,
 'likes to': 3,
 'mary also': 4,
 'mary likes': 5,
 'movies mary': 6,
 'movies too': 7,
 'paul also': 8,
 'paul likes': 9,
 'to watch': 10,
 'too mary': 11,
 'watch football': 12,
 'watch movies': 13}

**CountVectorizer Tri-grams**

In [ ]:
vectorizer = CountVectorizer(ngram_range=(3,3))
X = vectorizer.fit_transform(text)
pd.DataFrame(X.toarray(),index=text,columns=vectorizer.get_feature_names())

                                                    also likes to  ...  watch movies mary
Paul likes to watch movies. Mary likes movies too.              0  ...                  1
Paul also likes to watch football games                         1  ...                  0
Paul likes to watch movies. Mary likes movies t...              1  ...                  1

[3 rows x 14 columns]

In [ ]:
vectorizer.vocabulary_

{'also likes to': 0,
 'likes movies too': 1,
 'likes to watch': 2,
 'mary also likes': 3,
 'mary likes movies': 4,
 'movies mary likes': 5,
 'movies too mary': 6,
 'paul also likes': 7,
 'paul likes to': 8,
 'to watch football': 9,
 'to watch movies': 10,
 'too mary also': 11,
 'watch football games': 12,
 'watch movies mary': 13}

**CountVectorizer Unigrams and Bi-grams**

In [ ]:
vectorizer = CountVectorizer(ngram_range=(1,2))
X = vectorizer.fit_transform(text)
pd.DataFrame(X.toarray(),index=text,columns=vectorizer.get_feature_names())

                                                    also  ...  watch movies
Paul likes to watch movies. Mary likes movies too.     0  ...             1
Paul also likes to watch football games                1  ...             0
Paul likes to watch movies. Mary likes movies t...     1  ...             1

[3 rows x 24 columns]

In [ ]:
vectorizer.vocabulary_

{'also': 0,
 'also likes': 1,
 'football': 2,
 'football games': 3,
 'games': 4,
 'likes': 5,
 'likes movies': 6,
 'likes to': 7,
 'mary': 8,
 'mary also': 9,
 'mary likes': 10,
 'movies': 11,
 'movies mary': 12,
 'movies too': 13,
 'paul': 14,
 'paul also': 15,
 'paul likes': 16,
 'to': 17,
 'to watch': 18,
 'too': 19,
 'too mary': 20,
 'watch': 21,
 'watch football': 22,
 'watch movies': 23}

**CountVectorizer Unigrams, Bi-grams and Tri-grams**

In [ ]:
vectorizer = CountVectorizer(ngram_range=(1,3))
X = vectorizer.fit_transform(text)
pd.DataFrame(X.toarray(),index=text,columns=vectorizer.get_feature_names())

                                                    also  ...  watch movies mary
Paul likes to watch movies. Mary likes movies too.     0  ...                  1
Paul also likes to watch football games                1  ...                  0
Paul likes to watch movies. Mary likes movies t...     1  ...                  1

[3 rows x 38 columns]

In [ ]:
vectorizer.vocabulary_

{'also': 0,
 'also likes': 1,
 'also likes to': 2,
 'football': 3,
 'football games': 4,
 'games': 5,
 'likes': 6,
 'likes movies': 7,
 'likes movies too': 8,
 'likes to': 9,
 'likes to watch': 10,
 'mary': 11,
 'mary also': 12,
 'mary also likes': 13,
 'mary likes': 14,
 'mary likes movies': 15,
 'movies': 16,
 'movies mary': 17,
 'movies mary likes': 18,
 'movies too': 19,
 'movies too mary': 20,
 'paul': 21,
 'paul also': 22,
 'paul also likes': 23,
 'paul likes': 24,
 'paul likes to': 25,
 'to': 26,
 'to watch': 27,
 'to watch football': 28,
 'to watch movies': 29,
 'too': 30,
 'too mary': 31,
 'too mary also': 32,
 'watch': 33,
 'watch football': 34,
 'watch football games': 35,
 'watch movies': 36,
 'watch movies mary': 37}

**TfidfVectorizer Unigrams**

In [ ]:
tfidfvectorizer = TfidfVectorizer(ngram_range=(1,1))
X = tfidfvectorizer.fit_transform(text)
pd.DataFrame(X.toarray(),index=text,columns=tfidfvectorizer.get_feature_names())

                                                        also  ...     watch
Paul likes to watch movies. Mary likes movies too.  0.000000  ...  0.242902
Paul also likes to watch football games             0.429840  ...  0.333809
Paul likes to watch movies. Mary likes movies t...  0.209172  ...  0.324881

[3 rows x 10 columns]

# **Preprocessing**

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
review = '''At this point I'm sure all these positive reviews are bots paid for. There's no other explanation.
This movie is absolutely unwatchable. One of the dullest pieces of cinema ever made since... well,
since Scorcese's Silence (2016). I honestly do not have the faintest idea how anybody can enjoy this crap. Am I in a parallel reality?'''
print(review)

At this point I'm sure all these positive reviews are bots paid for. There's no other explanation.
This movie is absolutely unwatchable. One of the dullest pieces of cinema ever made since... well,
since Scorcese's Silence (2016). I honestly do not have the faintest idea how anybody can enjoy this crap. Am I in a parallel reality?

**Tokenization**

It is a method in which sentences are converted into words.

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
token = word_tokenize(review)
print(token)

['At', 'this', 'point', 'I', "'m", 'sure', 'all', 'these', 'positive', 'reviews', 'are', 'bots', 'paid', 'for', '.', 'There', "'s", 'no', 'other', 'explanation', '.', 'This', 'movie', 'is', 'absolutely', 'unwatchable', '.', 'One', 'of', 'the', 'dullest', 'pieces', 'of', 'cinema', 'ever', 'made', 'since', '...', 'well', ',', 'since', 'Scorcese', "'s", 'Silence', '(', '2016', ')', '.', 'I', 'honestly', 'do', 'not', 'have', 'the', 'faintest', 'idea', 'how', 'anybody', 'can', 'enjoy', 'this', 'crap', '.', 'Am', 'I', 'in', 'a', 'parallel', 'reality', '?']

**Lowercasing**

the tokenized words into lower case format. (NLU -> nlu). Words having the same meaning like nlp and NLP if they are not converted into lowercase then these both will constitute as non-identical words in the vector space model.

In [ ]:
print("Review before lowercasing: ")
print(review)
print("")
print("")
review_ = ' '.join([word.lower() for word in review.split()])
text = review_
print("Review after lowercasing: ")
print(review_)

Review before lowercasing:
At this point I'm sure all these positive reviews are bots paid for. There's no other explanation.
This movie is absolutely unwatchable. One of the dullest pieces of cinema ever made since... well,
since Scorcese's Silence (2016). I honestly do not have the faintest idea how anybody can enjoy this crap. Am I in a parallel reality?


Review after lowercasing:
at this point i'm sure all these positive reviews are bots paid for. there's no other explanation. this movie is absolutely unwatchable. one of the dullest pieces of cinema ever made since... well, since scorcese's silence (2016). i honestly do not have the faintest idea how anybody can enjoy this crap. am i in a parallel reality?

**Stop words removal**

These are the most often used that do not have any significance while determining the two different documents like (a, an, the, etc.) so they are to be removed. Check the below image where from the sentence “Introduction to Natural Language Processing” the “to” word is removed.

In [ ]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
from string import punctuation
punct = list(punctuation)
tokens = word_tokenize(text)
print("Review before removing stop-words: ")
print(text)
print("Number of tokens before removing stop-words", len(tokens))
print("")
print("")
cleaned_review = ' '.join([word for word in text.split() if word not in stop_words])
print("Review after removing stop-words: ")
print(cleaned_review)
print("Number of tokens after removing stop-words", len(cleaned_review.split()))

Review before removing stop-words:
at this point i'm sure all these positive reviews are bots paid for. there's no other explanation. this movie is absolutely unwatchable. one of the dullest pieces of cinema ever made since... well, since scorcese's silence (2016). i honestly do not have the faintest idea how anybody can enjoy this crap. am i in a parallel reality?
Number of tokens before removing stop-words 70


Review after removing stop-words:
point i'm sure positive reviews bots paid for. there's explanation. movie absolutely unwatchable. one dullest pieces cinema ever made since... well, since scorcese's silence (2016). honestly faintest idea anybody enjoy crap. parallel reality?
Number of tokens after removing stop-words 33

**Stemming**

Stemming is a process of reducing words to their word stem, base or root form (for example, books — book, looked — look).

In [ ]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
print("Review before stemming: ")
print(cleaned_review)
print("")
print("")
stemmed_review = " ".join([ps.stem(word) for word in cleaned_review.split()])
print("Review after stemming: ")
print(stemmed_review)

Review before stemming:
point i'm sure positive reviews bots paid for. there's explanation. movie absolutely unwatchable. one dullest pieces cinema ever made since... well, since scorcese's silence (2016). honestly faintest idea anybody enjoy crap. parallel reality?


Review after stemming:
point i'm sure posit review bot paid for. there' explanation. movi absolut unwatchable. one dullest piec cinema ever made since... well, sinc scorcese' silenc (2016). honestli faintest idea anybodi enjoy crap. parallel reality?

**Numbers removing**

Remove numbers if they are not relevant to your analyses. Usually, regular expressions are used to remove numbers.

In [ ]:
import re

print("Review before removing numbers: ")
print(stemmed_review)
print("")
print("")
cleaned_review_ = re.sub(r'\d+', '', stemmed_review)
print("Review after removing numbers: ")
print(cleaned_review_)

Review before removing numbers:
point i'm sure posit review bot paid for. there' explanation. movi absolut unwatchable. one dullest piec cinema ever made since... well, sinc scorcese' silenc (2016). honestli faintest idea anybodi enjoy crap. parallel reality?


Review after removing numbers:
point i'm sure posit review bot paid for. there' explanation. movi absolut unwatchable. one dullest piec cinema ever made since... well, sinc scorcese' silenc (). honestli faintest idea anybodi enjoy crap. parallel reality?

**Remove punctuation**

The following code removes this set of symbols [!”#$%&’()*+,-./:;<=>?@[\]^_`{|}~]:

In [ ]:
import string

print("Review before removing punctuation: ")
print(cleaned_review_)
print("")
print("")
cleaned_review__ = cleaned_review_.translate(str.maketrans('', '', string.punctuation))
print("Review after removing punctuation: ")
print(cleaned_review__)

Review before removing punctuation:
point i'm sure posit review bot paid for. there' explanation. movi absolut unwatchable. one dullest piec cinema ever made since... well, sinc scorcese' silenc (). honestli faintest idea anybodi enjoy crap. parallel reality?


Review after removing punctuation:
point im sure posit review bot paid for there explanation movi absolut unwatchable one dullest piec cinema ever made since well sinc scorcese silenc  honestli faintest idea anybodi enjoy crap parallel reality

# **Sentiment Analysis with Machine Learning**

**Import data**

In [ ]:
import numpy as np
from keras.datasets import imdb
(training_data, training_targets), (testing_data, testing_targets) = imdb.load_data(num_words=None)
data = np.concatenate((training_data, testing_data), axis=0)
targets = np.concatenate((training_targets, testing_targets), axis=0)




decoded = []
index = imdb.get_word_index()
reverse_index = dict([(value, key) for (key, value) in index.items()]) 
for i in range(50000):
  decoded.append(" ".join( [reverse_index.get(j - 3, "#") for j in data[i]] ))

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/imdb.npz
17465344/17464789 [==============================] - 0s 0us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/imdb_word_index.json
1646592/1641221 [==============================] - 0s 0us/step

In [ ]:
decoded[100]

"# i am a great fan of david lynch and have everything that he's made on dvd except for hotel room the 2 hour twin peaks movie so when i found out about this i immediately grabbed it and and what is this it's a bunch of crudely drawn black and white cartoons that are loud and foul mouthed and unfunny maybe i don't know what's good but maybe this is just a bunch of crap that was foisted on the public under the name of david lynch to make a few bucks too let me make it clear that i didn't care about the foul language part but had to keep adjusting the sound because my neighbors might have all in all this is a highly disappointing release and may well have just been left in the deluxe box set as a curiosity i highly recommend you don't spend your money on this 2 out of 10"

**Preprocessing**

In [ ]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize
from bs4 import BeautifulSoup
import spacy
import re,string,unicodedata
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:

#Tokenization of text
tokenizer=ToktokTokenizer()

#Setting English stopwords
stopword_list=nltk.corpus.stopwords.words('english')

#Removing the html strips
def strip_html(text):
    soup = BeautifulSoup(text, "html.parser")
    return soup.get_text()

#Removing the square brackets
def remove_between_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)

#Removing the noisy text
def denoise_text(text):
    text = strip_html(text)
    text = remove_between_square_brackets(text)
    return text

#Apply function on review column
IMdB_reviews = []
for i in decoded:
  IMdB_reviews.append(denoise_text(i))

In [ ]:
#Define function for removing special characters
def remove_special_characters(text, remove_digits=True):
    #pattern=r'[^a-zA-z0-9\s]'
    pattern=r'[^a-zA-z\s]'
    text=re.sub(pattern,'',text)
    return text

#Apply function on review column
IMdB_reviews_1 = []
for i in IMdB_reviews:
  IMdB_reviews_1.append(remove_special_characters(i))

In [ ]:
IMdB_reviews_1[100]

' i am a great fan of david lynch and have everything that hes made on dvd except for hotel room the  hour twin peaks movie so when i found out about this i immediately grabbed it and and what is this its a bunch of crudely drawn black and white cartoons that are loud and foul mouthed and unfunny maybe i dont know whats good but maybe this is just a bunch of crap that was foisted on the public under the name of david lynch to make a few bucks too let me make it clear that i didnt care about the foul language part but had to keep adjusting the sound because my neighbors might have all in all this is a highly disappointing release and may well have just been left in the deluxe box set as a curiosity i highly recommend you dont spend your money on this  out of '

In [ ]:
#Stemming the text
def simple_stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text= ' '.join([ps.stem(word) for word in text.split()])
    return text

#Apply function on review column
IMdB_reviews_cleaned = []
for i in IMdB_reviews_1:
  IMdB_reviews_cleaned.append(simple_stemmer(i))

In [ ]:
IMdB_reviews_cleaned[100]

'i am a great fan of david lynch and have everyth that he made on dvd except for hotel room the hour twin peak movi so when i found out about thi i immedi grab it and and what is thi it a bunch of crude drawn black and white cartoon that are loud and foul mouth and unfunni mayb i dont know what good but mayb thi is just a bunch of crap that wa foist on the public under the name of david lynch to make a few buck too let me make it clear that i didnt care about the foul languag part but had to keep adjust the sound becaus my neighbor might have all in all thi is a highli disappoint releas and may well have just been left in the delux box set as a curios i highli recommend you dont spend your money on thi out of'

**Split data to train set and test set**

In [ ]:
test_x = IMdB_reviews_cleaned[:10000]
test_y = targets[:10000]
train_x = IMdB_reviews_cleaned[10000:]
train_y = targets[10000:]

**Apply CountVectorizer with Unigrams for train and test set**

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()

Feature Matrix dimension of training set:  (40000, 43194)
Feature Matrix dimension of test set:  (10000, 43194)

**Train and test the model using LogisticRegression**

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
lg = LogisticRegression()
lg.fit(X_train, train_y)
prediction = lg.predict(X_test)
print(classification_report(prediction, test_y))

              precision    recall  f1-score   support

           0       0.88      0.89      0.88      4897
           1       0.89      0.88      0.88      5103

    accuracy                           0.88     10000
   macro avg       0.88      0.88      0.88     10000
weighted avg       0.88      0.88      0.88     10000

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

**Manipulations**

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(ngram_range = (1, 2))
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()


from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
lg = LogisticRegression()
lg.fit(X_train, train_y)
prediction = lg.predict(X_test)
print(classification_report(prediction, test_y))

Feature Matrix dimension of training set:  (40000, 1659945)
Feature Matrix dimension of test set:  (10000, 1659945)
              precision    recall  f1-score   support

           0       0.90      0.91      0.90      4892
           1       0.91      0.90      0.90      5108

    accuracy                           0.90     10000
   macro avg       0.90      0.90      0.90     10000
weighted avg       0.90      0.90      0.90     10000

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range = (1, 1))
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()


from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
lg = LogisticRegression()
lg.fit(X_train, train_y)
prediction = lg.predict(X_test)
print(classification_report(prediction, test_y))

Feature Matrix dimension of training set:  (40000, 43194)
Feature Matrix dimension of test set:  (10000, 43194)
              precision    recall  f1-score   support

           0       0.88      0.90      0.89      4842
           1       0.90      0.89      0.89      5158

    accuracy                           0.89     10000
   macro avg       0.89      0.89      0.89     10000
weighted avg       0.89      0.89      0.89     10000

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range = (1, 2))
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()


from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
lg = LogisticRegression()
lg.fit(X_train, train_y)
prediction = lg.predict(X_test)
print(classification_report(prediction, test_y))

Feature Matrix dimension of training set:  (40000, 1659945)
Feature Matrix dimension of test set:  (10000, 1659945)
              precision    recall  f1-score   support

           0       0.88      0.91      0.89      4818
           1       0.91      0.89      0.90      5182

    accuracy                           0.90     10000
   macro avg       0.90      0.90      0.90     10000
weighted avg       0.90      0.90      0.90     10000

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range = (2, 2))
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()


from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
lg = LogisticRegression()
lg.fit(X_train, train_y)
prediction = lg.predict(X_test)
print(classification_report(prediction, test_y))

Feature Matrix dimension of training set:  (40000, 1616751)
Feature Matrix dimension of test set:  (10000, 1616751)
              precision    recall  f1-score   support

           0       0.87      0.90      0.89      4814
           1       0.90      0.88      0.89      5186

    accuracy                           0.89     10000
   macro avg       0.89      0.89      0.89     10000
weighted avg       0.89      0.89      0.89     10000

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range = (1, 1))
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()


from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report
lsvm = LinearSVC()
lsvm.fit(X_train, train_y)
prediction = lsvm.predict(X_test)
print(classification_report(prediction, test_y))

Feature Matrix dimension of training set:  (40000, 43194)
Feature Matrix dimension of test set:  (10000, 43194)
              precision    recall  f1-score   support

           0       0.88      0.89      0.89      4894
           1       0.90      0.89      0.89      5106

    accuracy                           0.89     10000
   macro avg       0.89      0.89      0.89     10000
weighted avg       0.89      0.89      0.89     10000

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range = (1, 2))
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()


from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report
lsvm = LinearSVC()
lsvm.fit(X_train, train_y)
prediction = lsvm.predict(X_test)
print(classification_report(prediction, test_y))

Feature Matrix dimension of training set:  (40000, 1659945)
Feature Matrix dimension of test set:  (10000, 1659945)
              precision    recall  f1-score   support

           0       0.90      0.92      0.91      4858
           1       0.92      0.91      0.91      5142

    accuracy                           0.91     10000
   macro avg       0.91      0.91      0.91     10000
weighted avg       0.91      0.91      0.91     10000

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range = (2, 3))
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()


from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report
lsvm = LinearSVC()
lsvm.fit(X_train, train_y)
prediction = lsvm.predict(X_test)
print(classification_report(prediction, test_y))

Feature Matrix dimension of training set:  (40000, 6680196)
Feature Matrix dimension of test set:  (10000, 6680196)
              precision    recall  f1-score   support

           0       0.88      0.91      0.90      4789
           1       0.92      0.89      0.90      5211

    accuracy                           0.90     10000
   macro avg       0.90      0.90      0.90     10000
weighted avg       0.90      0.90      0.90     10000

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range = (1, 4))
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()


from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report
lsvm = LinearSVC()
lsvm.fit(X_train, train_y)
prediction = lsvm.predict(X_test)
print(classification_report(prediction, test_y))

Feature Matrix dimension of training set:  (40000, 14112910)
Feature Matrix dimension of test set:  (10000, 14112910)
              precision    recall  f1-score   support

           0       0.89      0.92      0.90      4816
           1       0.92      0.90      0.91      5184

    accuracy                           0.91     10000
   macro avg       0.91      0.91      0.91     10000
weighted avg       0.91      0.91      0.91     10000

In [ ]:

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range = (1, 1))
X_train = vectorizer.fit_transform(train_x)
print("Feature Matrix dimension of training set: ", X_train.shape )
#X_train = X_train.toarray()

X_test = vectorizer.transform(test_x)
print("Feature Matrix dimension of test set: ", X_test.shape )
#X_test = X_test.toarray()


from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import classification_report
nb = MultinomialNB()
nb.fit(X_train, train_y)
prediction = nb.predict(X_test)
print(classification_report(prediction, test_y))

Feature Matrix dimension of training set:  (40000, 43194)
Feature Matrix dimension of test set:  (10000, 43194)
              precision    recall  f1-score   support

           0       0.86      0.84      0.85      5069
           1       0.84      0.86      0.85      4931

    accuracy                           0.85     10000
   macro avg       0.85      0.85      0.85     10000
weighted avg       0.85      0.85      0.85     10000